@import './media.scss';
@import './fontSize.scss';

/*main*/
.main{
    width: auto;
    height: 63.5vw;
    background-image: url(../images/main_bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include mac{
        height: 55vw
    }
    @include pad{
        height: 63vw
    }
    .space{
        width: 24.7vw;
        height: auto;
        @include pad{
            width: 22vw;
        }
    }
    .main-center-div{
        width: 28.3vw;
        height: auto;
        display: flex;
        flex-direction: column;
        .main-center-div-logo{
            width: 28.3vw;
            height: auto;
        }
    }
    h2{
        @include h2;
        font-weight: 700;
        padding-top: 4vw;
        line-height: 120%;
        letter-spacing: 2px;
    }
    p{
        @include h3;
        padding-top: 2vw;
        line-height: 150%;
        font-weight: 300;
    }
    .main-prod .main-prod-dream{
        width: 31.2vw;
        height: auto;
    }
}
.all-prod-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        @include h2;
        font-weight: 700;
        letter-spacing: 2px;
        padding:6vw 0 2vw 0;
        color: rgba(0, 0, 0, 0.80);
    }
    .prod-list{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 4vw 0;
        @include pad{
            padding: 2vw 0;
        }
        .prod-list-items {
            a{
                width: 17.8vw;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                &:hover{
                    border-radius: 10px;
                    box-shadow: inset rgba(white, 0.5) 0 0 0 6px;
                    transition: all 0.35s ease 0s;
                    transform: translateY(-3px);
                    .sq-title{
                        color:#7FB33D;
                    }
                    .d-title{
                        color:#FF9B99;
                    }
                    .sum-title{
                        color:#FFB117;
                    }
                }
                @include pad{
                    width: 25vw;
                }
                
                div{
                    background: linear-gradient(140deg, #FFFFFF00 0%,#EEEEEE 90%);
                    margin: 0 1.6vw;
                    }
                    h3{
                        @include h3;
                        line-height: normal;
                        color: rgba(0, 0, 0, 0.80);
                        padding: 1.5vw 0 0.2vw 0;
                    }
                   
                    h4{
                        @include h3;
                        line-height: normal;
                        font-weight: 700;
                        color: rgba(0, 0, 0, 0.80);
                        
                    }
            }
        }
    }
}
/*select-sample*/
.select-sample{
    width: auto;
    height: 35.3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    .select-sample-cn{
        color: #535353;
        @include h4;
        padding: 7.2vw 0 1vw 0;
    }
    .select-sample-eng{
        font-family: 'Homemade Apple', cursive;
        font-size: 4rem;/*ENG 64px*/
        color: #FEE9E9;
        line-height: normal;
        @include mac{
            font-size: 3rem;
        }
        @include pad{
            font-size: 2rem;
        }
    }
    .select-sample-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            border:1px solid #FF9B99;
            background: #fff;
            font-size: 1.25rem;/*20px*/
            color:#FF9B99;
            letter-spacing: 4px;
            border-radius: 90px;
            line-height: normal;
            padding: 0.5vw 2vw ;
            margin: 2vw 1vw;
            transition: all 0.35s ease 0s;
            &:hover{
                border:1px solid #FF9B99;
                background: #FF9B99;
                color:#FFF;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                transition: all 0.35s ease 0s;
                transform: translateY(-3px);
        
            }
            @include mac{
                font-size: .9rem;
            }
            @include pad{
                font-size: .875rem;/*14px*/
            }
        }img{
            width:5.2vw;
            height: auto;
        }
        
    }
}
/*brand-info*/
.brand-info{
    display: flex;
    flex-direction: column;
    background-color: #FAF3D7;
    position: relative;
    .brand-info-video{
        width: auto;
        height: 23.4vw;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .brand-info-img1{
        position: absolute;
        width: 57vw;
        height: 24vw;
        top:20vw;
        transition: all 0.4s ease 0s;
        img{
            object-fit: cover;
            @include mac{
                width: 45vw;
            }
            @include pad{
                width: 43vw;
            }
        }
    }
    .brand-info-story{
        width: auto;
        height: 25vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 2vw;
        margin-left: 57vw;
        margin-right: 2vw;
        @include mac{
            margin-left: 45vw;
        }
        @include pad{
            
        }
        h2{
            @include h2;
            color: #535353;
            padding: 2.1vw 0 1vw 0;
            letter-spacing: 2px;
        }
        p{
            @include p;
            line-height: 150%;
            color: #535353;
            text-align: start;

        }
    }
    .brand-info-concept{
        width: 40vw;
        height:auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 40vw;
        margin-right: 2vw;
        h2{
            @include h2;
            color: #535353;
            padding: 2.1vw 0 1vw 0;
            letter-spacing: 2px;
        }
        p{
            @include p;
            line-height: 150%;
            color: #535353;
            text-align: start;
        }
    }
    .brand-info-img2{
        width: auto;
        height: 26vw;
        margin-left: 40vw;
        margin-top: 2vw;
        margin-bottom: 8vw;
        img{
            object-fit: cover;
        }
    }
    .brand-info-img3{
        width: auto;
        height: 27vw;
        img{
            object-fit: cover;
        }
    }
}